<h4>Cadastro de clientes</h4>
<div class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend></legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">nome</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="José Carlos Goncalves" class="form-control input-md">
			</div>
		</div>
		
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">cpf</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="36784909-06" class="form-control input-md">
			</div>
		</div>
		
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">endereco</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="Rua Algusto Malagutti, 228" class="form-control input-md">
			</div>
		</div>
		
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">bairro</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="Jardim Miriam" class="form-control input-md">
			</div>
		</div>
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">cidade</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="Sorocaba" class="form-control input-md">
			</div>
		</div>
		
														<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">estado</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="SP" class="form-control input-md">
			</div>
		</div>
		
																<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">cep</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="147367-890" class="form-control input-md">
			</div>
		</div>
		
																<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">telefone</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="(21)32764563" class="form-control input-md">
			</div>
		</div>
		
																		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">e-mail</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="jose@gmail.com" class="form-control input-md">
			</div>
		</div>
		


		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton"></label>
			<div class="col-md-4">
				<button data-toggle="modal" data-target="#modalAsk" id="singlebutton" name="singlebutton"
					class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>&nbsp;Adicionar</button>
			</div>
		</div>

	</fieldset>
</div>




<!-- 
		<legend></legend>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>nome</th>
					<th>rg</th>
					<th>cpf</th>
					<th>data nascimento</th>
					<th>telefone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Reginaldo Gomes</td>
					<td>35746849-3</td>
					<td>456773389-09</td>
					<td>16/02/1981</td>
					<td>(19) 99382728</td>
					<td>
						<button data-toggle="modal" data-target="#modalAsk" id="button1id"
							name="button1id" class="btn btn-default">Detalhes</button>
						<button data-toggle="modal" data-target="#modalAsk" id="button1id"
							name="button1id" class="btn btn-default">Editar</button>
						<button data-toggle="modal" data-target="#modalAsk" id="button2id"
							name="button2id" class="btn btn-default">Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</div>
 -->