<h4>Cadastro da empresa</h4>
<div class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend></legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">empresa</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
placeholder="Óticas Ver Bem - Inc" class="form-control input-md" value="{{empresas[0].empresa}}">
			</div>
		</div>
		
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">cnpj</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="18.141.410/0001-18" value="{{empresas[0].cnpj}}" class="form-control input-md">
			</div>
		</div>
		
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">endereco</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="Avenida Castelo Branco - sn" value="{{empresas[0].endereco}}" class="form-control input-md">
			</div>
		</div>
		
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">bairro</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="Parque Imperador" value="{{empresas[0].bairro}}" class="form-control input-md">
			</div>
		</div>
								<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">cidade</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="Louveira" value="{{empresas[0].cidade}}" class="form-control input-md">
			</div>
		</div>
		
														<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">estado</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="PR" value="{{empresas[0].estado}}" class="form-control input-md">
			</div>
		</div>
		
																<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">cep</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="1352637-098" value="{{empresas[0].cep}}" class="form-control input-md">
			</div>
		</div>
		
																<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">telefone</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="(27)448373676" value="{{empresas[0].telefone}}" class="form-control input-md">
			</div>
		</div>
		
																		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">e-mail</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="ouvidoria@oticasverbem.com.br" value="{{empresas[0].email}}" class="form-control input-md">
			</div>
		</div>
		


		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton"></label>
			<div class="col-md-4">
				<button data-toggle="modal" data-target="#modalAsk" id="singlebutton" name="singlebutton"
					class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>&nbsp;Adicionar</button>
			</div>
		</div>

	</fieldset>
</div>
