<h4>Médicos</h4>

<label class="radio-inline">
        <input ng-init="op = 'cadastrar'" ng-click="showSuccessAlert = false;showErrorAlert = false;" ng-model="op" type="radio" name="cadastrar" value="cadastrar">Cadastrar médico
    </label>
    <label class="radio-inline">
        <input ng-model="op" type="radio" name="listar" value="listar">Listar médicos
    </label>

    <div ng-if="op == 'cadastrar'" class="form-horizontal">
        <fieldset style="background-color: #fff">

            <!-- Form Name -->
            <legend></legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nomeinput">nome</label>
                <div class="col-md-5">
                    <input ng-model="medico.nome" id="nomeinput" name="textinput" type="text" placeholder="Dr Augusto" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cpfinput">crm</label>
                <div class="col-md-5">
                    <input ng-model="medico.crm" id="cpfinput" name="textinput" type="text" placeholder="21092" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="enderecoinput">clínica</label>
                <div class="col-md-5">
                    <input ng-model="medico.clinica" id="enderecoinput" name="textinput" type="text" placeholder="Clínica Fares" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bairroinput">telefone</label>
                <div class="col-md-5">
                    <input ng-model="medico.telefone" id="bairroinput" name="textinput" type="text" placeholder="(21)32764563" class="form-control input-md">
                </div>
            </div>
             <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="emailinput">e-mail</label>
                <div class="col-md-5">
                    <input ng-model="medico.email" id="emailinput" name="textinput" type="text" placeholder="jose@gmail.com" class="form-control input-md">
                </div>
            </div>

            <div ng-if="showSuccessAlert" class="alert alert-success" role="alert">
                <strong>Sucesso!</strong> Medico cadastrado.
            </div>

            <div ng-if="showErrorAlert"  class="alert alert-danger" role="alert">
                <strong>Erro!</strong> Erro ao cadastrar o medico.
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button ng-click="create()" id="singlebutton" name="singlebutton" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>&nbsp;Adicionar</button>
                </div>
            </div>
        </fieldset>
    </div>



<div class="table-responsive">
    <table ng-if="op == 'listar'" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>nome</th>
                <th>crm</th>
                <th>clinica</th>
                <th>telefone</th>
                <th>e-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="medico in medicos">
            <tr>
                <td>{{medico.nome}}</td>
                <td>{{medico.crm}}</td>
                <td>{{medico.clinica}}</td>
                <td>{{medico.telefone}}</td>
                <td>{{medico.email}}</td>
                <td>
                    <button ng-click="excluir(medico.codigo)" id="button2id" name="button2id" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    </div>
    </div>

    </div>