	  <!-- Modal -->
  <div class="modal fade" id="modalAsk" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="glyphicon glyphicon-question-sign"></i>&nbsp;Confirmacão</h4>
        </div>
        <div class="modal-body">
          <p>Você realmente deseja realizar essa operacão?</p>
          <H4>Esse alerta será padrão e não terá o texto personalizado</H4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Sim</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
        </div>
      </div>
      
    </div>
  </div>
