<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>código</th>
            <th>vendedor</th>
            <th>data</th>
            <th>status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>293473298</td>
            <td>Renan Figueiredo</td>
            <td>25/04/2015</td>
            <td>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-success">Aberto</button>
            </td>
            <td>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Detalhes</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Editar</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button2id"
                        name="button2id" class="btn btn-default">Excluir</button>
            </td>
        </tr>
        <tr>
            <td>293473298</td>
            <td>Renan Figueiredo</td>
            <td>25/04/2015</td>
            <td><button data-toggle="modal" data-target="#modalAsk"
                        id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
            <td>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Detalhes</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Editar</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button2id"
                        name="button2id" class="btn btn-default">Excluir</button>
            </td>
        </tr>
        <tr>
            <td>293473298</td>
            <td>Renan Figueiredo</td>
            <td>25/04/2015</td>
            <td><button data-toggle="modal" data-target="#modalAsk"
                        id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
            <td>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Detalhes</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Editar</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button2id"
                        name="button2id" class="btn btn-default">Excluir</button>
            </td>
        </tr>
        <tr>
            <td>293473298</td>
            <td>Renan Figueiredo</td>
            <td>25/04/2015</td>
            <td><button data-toggle="modal" data-target="#modalAsk"
                        id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
            <td>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Detalhes</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Editar</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button2id"
                        name="button2id" class="btn btn-default">Excluir</button>
            </td>
        </tr>
        <tr>
            <td>293473298</td>
            <td>Renan Figueiredo</td>
            <td>25/04/2015</td>
            <td><button data-toggle="modal" data-target="#modalAsk"
                        id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
            <td>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Detalhes</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button1id"
                        name="button1id" class="btn btn-default">Editar</button>
                <button data-toggle="modal" data-target="#modalAsk" id="button2id"
                        name="button2id" class="btn btn-default">Excluir</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
