<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>código</th>
            <th>vendedor</th>
            <th>data do orcamento</th>
            <th>data da entrega</th>
            <th>cliente</th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-repeat="orc in orcamentos">
        <tr>
            <td>{{orc.codigo}}</td>
            <td>{{orc.vendedor}}</td>
            <td>{{orc.dataorcamento | date : 'dd/MM/yyyy'}}</td>
            <td>{{orc.dataentrega | date : 'dd/MM/yyyy'}}</td>
            <td>{{orc.cliente.nome}}</td>
            <td>
                <button name="button1id" class="btn btn-default">Detalhes</button>
                <button ng-click="excluir(orc.codigo)"
                 name="button2id" class="btn btn-danger">Excluir</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
