<h4>Orcamentos</h4>

<label class="radio-inline">
        <input ng-init="op = 'cadastrar'" ng-model="op" type="radio" name="cadastrar" value="cadastrar">Novo orcamento
    </label>
    <label class="radio-inline">
        <input ng-model="op" type="radio" name="listar" value="listar">Listar orcamentos
    </label>

<legend></legend>

<div ng-if="op == 'cadastrar'" class="row form-horizontal form-group">
	<div class="col-md-6"><!-- style="background-color:green" -->

	<div class="form-inline form-group input-group">
			<span class="input-group-addon" id="basic-addon1">Vendedor</span>
			<input type="text" class="form-control" placeholder="Renato" aria-describedby="basic-addon1">
	</div>

	<div class="form-inline form-group input-group">
			<span class="input-group-addon" id="basic-addon1">Validade da proposta</span>
			<input type="text" class="form-control col-md-4" placeholder="10 dias" aria-describedby="basic-addon1">
	</div>

	<div class="form-inline form-group input-group">
			<span class="input-group-addon" id="basic-addon1">Data da entrega</span>
			<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
	</div>

	<div class="form-inline form-group input-group">
			<span class="input-group-addon" id="basic-addon1">Data do orcamento</span>
			<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
	</div>

	<div class="form-inline form-group input-group">
			<span class="input-group-addon" id="basic-addon1">Cliente</span>
		<select ng-model="select.cliente" class="form-control" id="sel1">
			<option value="">Selecione o cliente</option>
			<option ng-repeat="cliente in clientes" value="{{produto}}">
				{{cliente.nome}}&nbsp;-&nbsp;{{cliente.cidade}}
			</option>
		</select>
	</div>

	<div class="form-inline form-group input-group">
			<span class="input-group-addon" id="basic-addon1">Produtos</span>
				<select ng-model="select.produto" class="form-control" id="sel1">
					<option value="">Lista de produtos:</option>
					<option ng-repeat="produto in produtos" value="{{produto}}">
						{{produto.descricao}}&nbsp;({{produto.codigo}})
					</option>
				</select>
      <span class="input-group-btn">
        <button ng-click="addProduto()" id="buttonadd" name="buttonadd"
				class="btn btn-primary">
			<i class="glyphicon glyphicon-plus"></i>
		</button>
      </span>
	</div>

	<div class="form-inline form-group input-group">
			<span class="input-group-addon" id="basic-addon1">Servicos</span>
		<select ng-model="select.servico" class="form-control">
			<option value="">Lista de servicos:</option>
			<option ng-repeat="servico in servicos" value="{{servico}}">
				{{servico.descricao}}({{servico.codigo}})
			</option>
		</select>
		 <span class="input-group-btn">
		<button ng-click="addServico()" id="singlebutton" name="singlebutton"
				class="btn btn-primary">
			<i class="glyphicon glyphicon-plus"></i>
		</button>
			 </span>
	</div>
		</div>
</div>


<div class="table-responsive">
	<legend></legend>
	<table ng-if="items.length > 0" class="table table-hover table-striped">
		<thead>
		<tr>
			<th>Código</th>
			<th>Descricão</th>
			<th>Qtde</th>
			<th>Unidade</th>
			<th>Valor unitário</th>
			<th>Total</th>
			<th></th>
		</tr>
		</thead>
		<tbody ng-repeat="item in items">
		<tr>
			<td>{{item.codigo}}</td>
			<td>{{item.descricao}}</td>
			<td>{{item.quantidade}}</td>
			<td>{{item.unidade}}</td>
			<td>{{item.valorUnitario | currency:"R$ "}}</td>
			<td>{{(item.valorUnitario * item.quantidade) | currency:"R$ "}}</td>
			<td>
				<button ng-click="plus($index)" id="buttonplus" name="button2id" class="btn btn-default">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
				<button ng-click="minus($index)" id="buttonminus"
						name="button2id" class="btn btn-default">
					<i class="glyphicon glyphicon-minus"></i>
				</button>
			</td>
		</tr>

		</tbody>
	</table>
</div>

<fieldset>
	<!-- Form Name -->
	<legend></legend>

	<div class="form-group">
		<label>Total geral:</label><span>{{totalGeral | currency:"R$ "}}</span><br>
	</div>

		<button data-toggle="modal" data-target="#orcamentoFecharModal" id="singlebutton"
				name="singlebutton" class="btn btn-success">
			<i class="glyphicon glyphicon-ok"></i>&nbsp;Fechar orcamento
		</button>
</fieldset>


<table ng-if="op == 'listar'" class="table table-hover table-striped">
	<thead>
		<tr>
			<th>código</th>
			<th>vendedor</th>
			<th>data</th>
			<th>status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>293473298</td>
			<td>Renan Figueiredo</td>
			<td>25/04/2015</td>
			<td>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-success">Aberto</button>
			</td>
			<td>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Detalhes</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Editar</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button2id"
					name="button2id" class="btn btn-default">Excluir</button>
			</td>
		</tr>
		<tr>
			<td>293473298</td>
			<td>Renan Figueiredo</td>
			<td>25/04/2015</td>
			<td><button data-toggle="modal" data-target="#modalAsk"
					id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
			<td>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Detalhes</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Editar</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button2id"
					name="button2id" class="btn btn-default">Excluir</button>
			</td>
		</tr>
		<tr>
			<td>293473298</td>
			<td>Renan Figueiredo</td>
			<td>25/04/2015</td>
			<td><button data-toggle="modal" data-target="#modalAsk"
					id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
			<td>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Detalhes</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Editar</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button2id"
					name="button2id" class="btn btn-default">Excluir</button>
			</td>
		</tr>
		<tr>
			<td>293473298</td>
			<td>Renan Figueiredo</td>
			<td>25/04/2015</td>
			<td><button data-toggle="modal" data-target="#modalAsk"
					id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
			<td>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Detalhes</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Editar</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button2id"
					name="button2id" class="btn btn-default">Excluir</button>
			</td>
		</tr>
		<tr>
			<td>293473298</td>
			<td>Renan Figueiredo</td>
			<td>25/04/2015</td>
			<td><button data-toggle="modal" data-target="#modalAsk"
					id="button1id" name="button1id" class="btn btn-success">Aberto</button></td>
			<td>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Detalhes</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button1id"
					name="button1id" class="btn btn-default">Editar</button>
				<button data-toggle="modal" data-target="#modalAsk" id="button2id"
					name="button2id" class="btn btn-default">Excluir</button>
			</td>
		</tr>

	</tbody>
</table>
