<label class="radio-inline">
	<input ng-init="op = 'cadastrar'" ng-click="showSuccessAlert = false;showErrorAlert = false;" ng-model="op" type="radio" name="cadastrar" value="cadastrar">Cadastrar produto
</label>
<label class="radio-inline">
	<input ng-model="op" type="radio" name="listar" value="listar">Listar produto
</label>


<div ng-if="op == 'cadastrar'" class="form-horizontal">

<div ng-include="'views/produto_cadastro.html'"></div>

	<div ng-if="showSuccessAlert" class="alert alert-success" role="alert">
		<strong>Sucesso!</strong> Produto cadastrado.
	</div>

	<div ng-if="showErrorAlert"  class="alert alert-danger" role="alert">
		<strong>Erro!</strong> código, descricão e valor unitário são obrigatórios.
		O valor unitário deve ser preenchido com 02 casas decimais e utilizando ponto ao invés de vírgula.
		O código e descrição devem ser únicos.
	</div>

<!-- Button -->
<div class="form-group">
	<label class="col-md-4 control-label" for="singlebutton"></label>
	<div class="col-md-4">
		<button ng-click="create()" id="singlebutton"
			name="singlebutton" class="btn btn-primary">
			<i class="glyphicon glyphicon-edit"></i>&nbsp;Adicionar
		</button>
	</div>
</div>
</div>


<table ng-if="op == 'listar'" class="table table-hover table-striped">
	<thead>
		<tr>
			<th>codigo</th>
			<th>descricao</th>
			<th>fabricante</th>
			<th>unidade</th>
			<th>valor unitário</th>
			<th></th>
		</tr>
	</thead>
	<tbody ng-repeat="produto in produtos">
		<tr>
			<td>{{produto.codigo}}</td>
			<td>{{produto.descricao}}</td>
			<td>{{produto.fabricante}}</td>
			<td>{{produto.unidade}}</td>
			<td>{{produto.valorUnitario  | currency:"R$ "}}</td>
			<td>
				<button ng-click="excluir(produto.codigo)" id="button2id"
					name="button2id" class="btn btn-danger">Excluir</button>
			</td>
		</tr>

	</tbody>
</table>