<div class="form-horizontal">
<fieldset>
	<!-- Form Name -->
	<legend></legend>

	<div class="form-group">
		<label class="col-md-4 control-label" for="codigoinput">código</label>
		<div class="col-md-5">
			<input ng-model="servico.codigo" id="codigoinput"  type="text"
				placeholder="00543" class="form-control input-md">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-4 control-label" for="descricaoinput">descricão</label>
		<div class="col-md-5">
			<input ng-model="servico.descricao" id="descricaoinput" type="text" placeholder="limpeza de lentes"
				class="form-control input-md">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-4 control-label" for="fornecedorinput">fornecedor</label>
		<div class="col-md-5">
			<input ng-model="servico.fornecedor" id="fornecedorinput" type="text" placeholder="Super Visão Óticas"
				   class="form-control input-md">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-4 control-label" for="unidadeinput">unidade</label>
		<div class="col-md-5">
			<input ng-model="servico.unidade" id="unidadeinput" type="text" placeholder="un"
				class="form-control input-md">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-4 control-label" for="valorunitarioinput">valor unitário</label>
		<div class="col-md-5">
			<input ng-model="servico.valorUnitario" id="valorunitarioinput" name="textinput" type="text"
				placeholder="50.00" class="form-control input-md">
		</div>
	</div>

</fieldset>

</div>