<h4>Cadastro de usuários</h4>
<div class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend></legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">nome</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="Alexandre Moratto" class="form-control input-md">
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">login</label>
			<div class="col-md-5">
				<input id="textinput" name="textinput" type="text"
					placeholder="alexmoratto" class="form-control input-md">
			</div>
		</div>

		<!-- Password input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="passwordinput">senha</label>
			<div class="col-md-5">
				<input id="passwordinput" name="passwordinput" type="password"
					placeholder="*******" class="form-control input-md">
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton"></label>
			<div class="col-md-4">
				<button data-toggle="modal" data-target="#modalAsk"
					id="singlebutton" name="singlebutton" class="btn btn-primary">
					<i class="glyphicon glyphicon-edit"></i>&nbsp;Adicionar
				</button>

			</div>
		</div>

	</fieldset>
</div>
<!--
						<legend></legend>
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>nome</th>
									<th>login</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Reginaldo Gomes</td>
									<td>reginaldo</td>
									<td>

										<div class="form-group">
											<label class="col-md-4 control-label" for="button1id"></label>
											<div class="col-md-8">
												<button data-toggle="modal" data-target="#modalAsk" id="button2id" name="button2id"
													class="btn btn-default">Excluir</button>
											</div>
										</div>
									</td>
								</tr>
						</table>
						Não será possível editar o nome, login ou senha de um usuário do sistema.<br>
						O primeiro login deve ser realizado com o login admin senha admin e quando for criado o primeiro usuário, admin para de funcionar.<br>
-->
