<label class="radio-inline">
    <input ng-init="op = 'cadastrar'" ng-click="showSuccessAlert = false;showErrorAlert = false;" ng-model="op" type="radio" name="cadastrar" value="cadastrar">Cadastrar usuário
</label>
<label class="radio-inline">
    <input ng-model="op" type="radio" name="listar" value="listar">Listar usuários
</label>

<div ng-if="op == 'cadastrar'" class="form-horizontal">

    <fieldset>

        <!-- Form Name -->
        <legend></legend>

        <div ng-if="showSuccessAlert" class="alert alert-success" role="alert">
            <strong>Sucesso!</strong> Usuário cadastrado.
        </div>

        <div ng-if="showErrorAlert"  class="alert alert-danger" role="alert">
            <strong>Erro!</strong> Todos os campos devem ser preenchidos, o campo login não pode ser repetido.
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nomeinput">nome</label>
            <div class="col-md-5">
                <input ng-model="usuario.nome" id="nomeinput" name="textinput" type="text" placeholder="Alexandre Moratto" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="logininput">login</label>
            <div class="col-md-5">
                <input ng-model="usuario.login" id="logininput" name="textinput" type="text" placeholder="alexmoratto" class="form-control input-md">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">senha</label>
            <div class="col-md-5">
                <input ng-model="usuario.senha" id="passwordinput" name="passwordinput" type="password" placeholder="*******" class="form-control input-md">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button ng-click="create();" id="singlebutton" name="singlebutton" class="btn btn-primary">
                    <i class="glyphicon glyphicon-edit"></i>&nbsp;Adicionar
                </button>

            </div>
        </div>

    </fieldset>
</div>



<table ng-if="op == 'listar'" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>nome</th>
            <th>login</th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="usuario in usuarios">
        <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.login}}</td>
            <td>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="excluirid"></label>
                    <div class="col-md-8">
                        <button ng-click="excluir(usuario.login);" id="excluirid" class="btn btn-danger">Excluir</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>